/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; /* Impede a rolagem da página inteira */
}

.container {
  display: flex;
  flex: 1;
}

.chats {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
}

.list {
  list-style-type: none;
}

.chat {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.chat:hover {
  background-color: #f0f0f0;
}

.details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  flex: 1;
}

.message-preview {
  margin: 0;
  color: #999;
}

.time {
  margin-left: 10px;
  color: #999;
}

.messages {
  flex: 2;
  display: flex;
  flex-direction: column;
}

/* Adicione esta regra de estilo */
.main-chat {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 120px); /* Ajuste conforme necessário */
}


.header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 10;
  width: 1250px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
}

.footer input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.footer button {
  padding: 8px 20px;
  background-color: #128c7e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer button:hover {
  background-color: #0d6e5e;
}

.clear-chat-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #128c7e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-chat-button:hover {
  background-color: #0d6e5e;
}

/* Estilos para as mensagens */
.message {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.bubble {
  margin-inline: 30px;
  margin-block: 5px;
  background-color: #dcf8c6;
  max-width: 70%;
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word;
}

.text {
  word-wrap: break-word;
}

.time {
  position: absolute;
  bottom: -20px;
  right: 5px;
  font-size: 0.8em;
}

/* Estilo para o nome do usuário na parte superior */
.header .name h2 {
  margin: 0;
}