@media (max-width: 720px) {

    .banner{display: none;}

    .section-login{
        height: 70rem;
        width: 40rem;
    }

    #background-color-1, #background-color-2, #background-color-3, #background-color-4{
        display: none;
    }


}